FOUNDRY_PROJECT_ENDPOINT=https://{your-ai-services-account}.services.ai.azure.com/api/projects/{project-name}
FOUNDRY_MODEL_DEPLOYMENT_NAME=gpt-4o
MEMORY_STORE_CHAT_MODEL_DEPLOYMENT_NAME=gpt-4o
MEMORY_STORE_EMBEDDING_MODEL_DEPLOYMENT_NAME=text-embedding-3-large
